<a href="#" (click)="onSignOut();">Sign out</a>

<section class="card">
    <div>
        <div class="card__img">

        </div>
        <div class="card__details">
            <p>
                <b>Welcome {{user}}!</b>
            </p>
            <p>
                <b>Card Name:</b> {{account.name}}</p>
            <p>
                <b>Card number:</b> ************0984</p>
            <p>
                <b>Balance: </b> {{account.balance | currency: 'GBP'}}</p>
        </div>

        <ul>
            <li (click)="getAllTransactions()">All transactions</li>
            <li (click)="getIncomes()">Incomes</li>
            <li (click)="getExpenditures()">Expenditure</li>
            <li (click)="getCategorisedTransactions()">Your spending</li>
        </ul>

        <ul *ngIf="!showCategories">
            <li *ngFor="let transaction of filteredTransactions">
                <small>{{transaction.date | date: 'fullDate'}}</small>
                <p>
                    <b>{{transaction.name}}</b>
                </p>
                <p>{{transaction.amount | currency: 'GBP'}}</p>
                <p>{{transaction.category}}</p>

            </li>
        </ul>

        <ul *ngIf="showCategories">
            <li *ngFor="let category of categorisedTransactions">
                <p>
                    <b>{{category.name}}</b>
                </p>

                <p>
                    <b>Amount:</b> {{category.amount | currency: 'GBP'}}</p>
                <ul>
                    <li *ngFor="let transaction of category.transactions">
                        <small>{{transaction.date | date: 'fullDate'}}</small>
                        <p>
                            <b>{{transaction.name}}</b>
                        </p>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</section>