<section class="hero is-info is-medium dashboard">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-info is-inverted" (click)="onSignOut();">
                                <span>Signout</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="has-text-left">
                <p class="title dashboard__title">
                    Welcome {{user}}!
                </p>
                <p class="dashboard__account">
                    <i class="fab fa-cc-visa"></i> :
                    <span>{{account.name}}</span>
                </p>
                <p class="dashboard__account">
                    <i class="fas fa-hashtag"></i> :
                    <span>************0984</span>
                </p>
                <p class="dashboard__account">
                    <i class="fas fa-balance-scale"></i> :
                    <span>{{account.balance | currency: 'GBP'}}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li [ngClass]="{'is-active': activeTab === 'all'}" (click)="getAllTransactions()">
                        <a>All transactions</a>
                    </li>
                    <li [ngClass]="{'is-active': activeTab === 'income'}" (click)="getIncomes()">
                        <a>Incomes</a>
                    </li>
                    <li [ngClass]="{'is-active': activeTab === 'expenditures'}" (click)="getExpenditures()">
                        <a>Expenditure</a>
                    </li>
                    <li [ngClass]="{'is-active': activeTab === 'cat'}" (click)="getCategorisedTransactions()">
                        <a>Your spending</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section class="container">
    <div>
        <ul *ngIf="!showCategories">
            <li *ngFor="let transaction of filteredTransactions">
                <div class="box dashboard__transaction">
                    <div class="media">

                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <small>{{transaction.date | date: 'fullDate'}}</small>
                                    <br>
                                    <strong>{{transaction.name}}</strong>
                                    <br>
                                    <strong>{{transaction.amount | currency: 'GBP'}}</strong>
                                </p>
                            </div>

                        </div>
                        <div class="media-right">
                            <p>{{transaction.category}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul *ngIf="showCategories">
            <li *ngFor="let category of categorisedTransactions">
                <div class="dashboard__categories">
                    <p>
                        <strong>{{category.name}} / {{category.amount | currency: 'GBP'}} </strong>
                        <small>(Total)</small>
                    </p>

                </div>

                <ul>
                    <li *ngFor="let transaction of category.transactions">
                        <div class="box dashboard__transaction">
                            <div class="media">

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <small>{{transaction.date | date: 'fullDate'}}</small>
                                            <br>
                                            <strong>{{transaction.name}}</strong>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</section>