<div class="login">
    <section class="hero is-info is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <h1 class="login__title">Welcome to your card dashboard!</h1>
                </h1>
                <h2 class="subtitle">
                    <div id="loginBtn" class="login__button">
                        <img src="assets/images/btn_google_signin_dark_pressed_web.png" alt="Google login">
                    </div>
                </h2>
            </div>
        </div>
    </section>


</div>