.dashboard {
}

.dashboard__title {
  padding-bottom: 1.5rem;
}

.dashboard__account {
  margin-bottom: 0.5rem;
  i {
    font-size: 1.5rem;
    width: 35px;
  }
  span {
    padding-left: 15px;
  }
}

.dashboard__transaction {
  margin-top: 0.5rem;
}

.dashboard__categories {
  margin-top: 2rem;
  strong {
    font-size: 2rem;
  }
}
